body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.profile-img {
  height: 300px;
  width: 300px;
  margin: 5px;
}

.home-card {
  max-width: 500px;
  height: max-content;
  margin: 26px auto;

}

.create {
  display: flex;
  align-content: center;
}

.delete {
  cursor: pointer;
  color: red;
  display: flex;
  align-items: center;
}